.container_data {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%,1fr));
  grid-gap: 15px;
  margin: 50px auto;
  padding: 30px;
  
  
}
.container_temp,
.container_hum {
  background-color: rgb(40, 19, 112);
  border-radius: 10px;
  color: white;
  font-size: 10px;
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(160, 147, 147);
  
}

.container_h1 {
  font-size: 28px;
  color: white;

}

@media (max-width:800px){
  
  .container_data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    
    
  }

  .container_temp,
.container_hum {
  width: 80%;
  background-color: rgb(40, 19, 112);
  border-radius: 10px;
  color: white;
  font-size: 10px;
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(160, 147, 147);
  
}

}